.course {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.course-img{
    width: 100%;
}
.course-item{
    height: 45rem;
    width: 100%;
    padding: 2rem;
    background-color: #F5F5F5;
    position: relative;
    border-radius: .5rem;
}
.course-name{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.mentor{
    font-size: 2rem;
}
.price {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: var(--primaryColor);
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem;
    border-radius: 50%;
}